.custom-navbar {
  background-color: #243a51; /* navy blue */
}

.navbar {
  position: sticky; /* or fixed */
  top: 0;
  z-index: 1000;
  background-color:#243a51;  /* match your theme */
}


.custom-navbar .nav-link {
  color: rgba(255, 255, 255, 0.9) !important;
  margin-left: 15px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.custom-navbar .nav-link:hover {
  color: #4b6584; /* soft vision */
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  border-radius: 10px;
}

